.esponge{
    background: yellow;
    width: 300px;
    height: 420px;
    position: relative;
    overflow: hidden;
    border: 5px solid black;
    margin: 50px auto;
    top: 200px;
}    
.eyes{
    position: absolute;
    width: 210px;
    left: 40px;
    top: 40px;
    z-index: 10;
}
.eyeright{
    display: inline-block;
    background: white;
    position: relative;
    width: 100px;
    height: 100px;
    border: 5px solid black;
    margin-right: -17px ;
    border-radius: 50%;
}

.eyeleft{
    display: inline-block;
    background: white;
    position: relative;
    width: 100px;
    height: 100px;
    border: 5px solid black;
    border-radius: 50%;
}

.pupilright{
    width: 55px;
    height: 55px;
    background: #00AEEF;
    border: 4px solid black;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    position: absolute;
}

.pupilleft{
    width: 55px;
    height: 55px;
    background: #00AEEF;
    border: 4px solid black;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    position: absolute;
}

.irisright{
    width: 25px;
    height: 25px;
    background: black;
    border: 4px solid black;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    position: relative;
}

.irisleft{
    width: 25px;
    height: 25px;
    background: black;
    border: 4px solid black;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    position: relative;
}

.nose{
    width: 20px;
    height: 40px;
    background: yellow;
    position: absolute;
    top: 110px;
    left: 130px;
    border: 4px solid black;
    z-index: 10;
    border-bottom: 5px solid transparent;
    border-radius: 43%;
}

.mouth{
    width: 200px;
    height: 80px;
    background: transparent;
    position: absolute;
    top: 120px;
    left: 50px;
    border-radius: 50px;
    z-index: 10px;
    border-bottom: 5px solid black;
}

.teeth{
    position: relative;
    top: 80px;
    left: 65px;
}

.tooth{
    width: 20px;
    height: 20px;
    background: white;
    border: 5px solid black;
    display: inline-block;
}

.cheek1{
    width: 30px;
    height: 20px;
    background: transparent;
    position: absolute;
    top: 30px;
    border: 3px solid #f1592a;
    border-bottom: 3px solid transparent;
    border-radius: 50% 50% 20% 20%;
    left: -15px;
}

.cheek2{
    width: 30px;
    height: 20px;
    background: transparent;
    position: absolute;
    top: 30px;
    border: 3px solid #f1592a;
    border-bottom: 3px solid transparent;
    border-radius: 50% 50% 20% 20%;
    right: -15px;
}

.t-shirt{
    width: 310px;
    height: 50px;
    background: white;
    position: relative;
    border: 5px solid black;
    border-left: 0px;
    border-right: 0px;
    overflow: hidden;
    bottom: -300px;
    left: -10px;
}

.neck1{
    width: 45px;
    height: 35px;
    position: absolute;
    border: 5px solid black;
    border-left: 0px;
    border-top: 0px;
    right: 180px;
    transform: rotate(33deg);
    top: -24px
}

.neck2{
    width: 45px;
    height: 35px;
    position: absolute;
    border: 5px solid black;
    right: 60px;
    transform: rotate(-33deg);
    border-right: 0px;
    border-top: 0px;
    top: -24px
}

.necktie{
    width: 40px;
    height: 40px;
    background: #f00200;
    border: 5px solid black;
    position: absolute;
    right: 120px;
    transform: rotate(45deg);
    top: -27px;
}

.pants{
    width: 300px;
    height: 60px;
    background: #6a3d13;
    position: relative;
    border: 0px;
    right: -866px;
    bottom: -85px;
}

.belt{
    top: 10px;
    left: 20px;
    position: relative;
    border: 5px solid black;
    width: 40px;
    height: 10px;
    background: black;
}

.belt1{
    right: 20px;
   
}

.necktie1{
    width: 40px;
    height: 40px;
    background: #f00200;
    border: 5px solid black;
    position: relative;
    bottom: 40px;
    right: -131px;
    transform: rotate(45deg);
}





